.header{  
    width: 100%;
    position: sticky;
    margin: 0px;

    background-color: rgba(196, 155, 44, 0.795);

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 2px 15px;
    font-size: 22;
    font-family: 'Roboto Slab', serif;
}

.logo .first-letter {
    font-size: 35px;
}

